<!-- 
    Centraliza meta y CSS para consistencia.
-->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HV19X47N9Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-HV19X47N9Y');
</script>